*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
httperf_prod_url_7days_10M_util_2016-09-19.txt
httperf_prod_url_7days_10M_util_2016-09-19.zip
